*{font-family:Montserrat, sans-serif;}

.page_title {
    font-weight: bold;
    /* font-family: 'Montserrat', sans-serif; */
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
} 

.page_title {
    background-image: url(https://media1.giphy.com/media/hTBdZxUHG2r0XwLFSL/giphy.gif?cid=790b7611276eb25acf8c03b9f14cee39744a9c3bc1fabb14&rid=giphy.gif&ct=g);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
  }

.foot {
    background-color: #999999   ;
    color: #ffffff;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    margin-top: auto;
    position: auto;
}

* body  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a:link { color: #26619c; }
a:visited { color: #138743; }
a:hover { color: #9900ff; }