*{font-family:Montserrat;}

.page_title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 0.5em;   
}

.foot {
    background-color: #999999   ;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    margin-top: auto;
    position: auto;
}

* body  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a:link { color: #26619c; }
a:visited { color: #26613f; }
a:hover { color: #ffffff; }